.Cart {
  width: 60%;
  margin: 5rem auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;


}

.Cart__header {
border-bottom: 2px #dfdfdf solid;
padding-bottom: 1rem;
  /* padding: 3rem 0 .5rem  2rem; */
}

